.parentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  position: absolute;
  top: 0;
  /* left: 0; */
  /* width: 0%; */
  height: 100%;
  background: var(--blue1);
  /* animation: block-appear 2.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 0.5s; */
}

/* @keyframes block-appear {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
} */

.wrapper {
  display: flex;
}

.left,
.right {
  position: absolute;
  /* width: 50%; */
  flex: 0.5;
  height: 100%;
}

.left {
  background-color: var(--pink);
  left: 0%;
  width: 0%;
  z-index: 5;
}

.right {
  background-color: var(--blue1);
  right: 0%;
  width: 0%;
  z-index: 2;
}

.img-wrapper-pic {
  position: absolute;
  top: 250px;
  left: 150px;
  z-index: 8;
}

.gazelle {
  height: 500px;
  width: 0;
}
