h2 {
  overflow: hidden;
  margin: 0;
  font-size: 4rem;
  font-weight: 500;
}

.title2 {
  margin: 0 1rem;
  /* z-index: 10; */
}

.title2:hover {
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
